@font-face {
	font-family: debil;
	src: url(regular.ttf);
}
@font-face {
	font-family: bebil;
	src: url(bold.ttf);
}
body{
	transition: all 0.3s;
	font-family: debil;
	background-color: rgb(10, 10, 10);
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.box{
	margin-top: 5px;
    height: fit-content;
    padding: 30px 30px 10px 30px;
    color: white;
    font-size: 20px;
    background-color: rgb(40, 40, 40);
    border-radius: 20px;
}
.box .type{
	font-family: debil;
	font-size: 20px;
	height: 370px;
	width: 100%;
	border-radius: 10px;
	resize: none;
}
.box button{
	font-family: bebil;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px;
}
.box .output{
	width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    height: 370px;
    border-radius: 10px;
    padding: 5px;
    user-select: all;
}
.title{
	font-family: bebil;
	text-transform: uppercase;
	color: white;
    font-size: 30px;
    font-weight: 900;
}

@media (min-width: 1200px) { 
    .container{
		width: 50%;
	}
}

@media (max-width: 1200px) { 
    .container{
		width: 100%;
	}
} 